<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  <body>
    <h1>Click the button to open Google</h1> 
      <button onclick="window.open(('https://google.com'))">Click me!</button> 
    <h1>Click the button to see Apple's current stock price!</h1> 
    <!-- <form method="POST" action="/hello">
        <button submit="">Click me!</button>
    </form> -->
    <button onclick="displayInfo()">See stock info</button>
    <div id=stock_info>{{ message }}</div>
    
    <script type="module">
      // let toggle = button => {
      //   let element = document.getElementById("stock_info");
      //   let hidden = element.getAttribute("hidden");

      //   if (hidden) {
      //      element.removeAttribute("hidden");
      //   } else {
      //      element.setAttribute("hidden", "hidden");
      //   }
      // }
      function displayInfo(){
        // let element = document.getElementById("stock_info");
        // recent_data = yf.download("AAPL", period="1d")
        // if (element.style.display === "none"){
        //   element.style.display = "block";
        //   //element.setText(recent_data);
        // }
        var x = document.getElementById("stock_info");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      function stockInfo(){
        
        x.setAttribute(Text, recent_data)
      }
    </script>
  </body>
</html>
