<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  <body>
      <h1>Click the button to open Google</h1> 
        <!-- <button onclick="window.open(('https://google.com'))">Click me!</button>  -->
        <form id="openTabForm" action="{{url_for('open_new_tab')}}" method="post" target="_blank">
          <button type="submit">Open Google!</button>
        </form>
          <!-- <button name="googlebtn" onclick={opentab()}>Click me!</button> -->
      <h1>Click the button to see Apple's current stock price!</h1>
        <button onclick="printInfo()">Print Apple Info</button>
        <p id="infoParagraph"></p>

      <script>
        document.getElementById('openTabForm').addEventListener('submit', function(event) {
            // Prevent the form from submitting normally
            event.preventDefault();
            // Submit the form via JavaScript to open the new tab
            this.submit();
        });

        function printInfo() {
            fetch('/hello/print_info', {
                method: 'POST',
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('infoParagraph').innerText = data;
            })
            .catch(error => console.error('Error:', error));
        }
      </script>
    </body>
  </html>  